<div id="home">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img id="logo" src="/img/foodception.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/recipes">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/restaurants">Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/questionare-answers">Answers</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>

    <div class="container">
        <h2><strong>Recipes For You</strong></h2>
        <hr>
        <div class="card">
            <div class="card-header">
                Fried Chicken Burger
            </div>
            <div class="card">
                <img class="card-img-top" src="/img/fried-chicken-burger.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="card">
            <div class="card-header">
                Polska Lasagna
            </div>
            <div class="card">
                <img class="card-img-top" src="/img/polska-food.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="card">
            <div class="card-header">
                Pad Thai
            </div>
            <div class="card">
                <img class="card-img-top" src="/img/pad-thai.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>