<div id="home">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img id="logo" src="/img/foodception.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/recipes">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/restaurants">Restaurants</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <h2><strong>Recipe Questionare</strong></h2>
        <hr />
        <form>
            Name (Required)<br />
            <input type="text" id="name" class="form-control" />
            <br>
            <h5>Question 1</h5>
            <h6>What type of meal do you want to make?</h6>
            <select name="question" id="q1">
                <option value="main+course">Main Course</option>
                <option value="side+dish">Side Dish</option>
                <option value="dessert">Dessert</option>
                <option value="appetizer">Appetizer</option>
                <option value="salad">Salad</option>
                <option value="soup">Soup</option>
                <option value="breakfast">Breakfast</option>
            </select>
            <br><br>
            <h5>Question 2</h5>
            <h6>What type of food are you craving??</h6>
            <select name="question" id="q2">
                <option value="american">American</option>
                <option value="brazilian">Brazilian</option>
                <option value="cajun">Cajun</option>
                <option value="caribbean">Caribbean</option>
                <option value="chinese">Chinese</option>
                <option value="french">French</option>
                <option value="greek">Greek</option>
                <option value="indian">Indian</option>
                <option value="italian">Italian</option>
                <option value="mexican">Mexican</option>
                <option value="thai">Thai</option>
                <option value="vietnamese">Vietnamese</option>
            </select>
            <br><br>
            <h5>Question 3</h5>
            <h6>Special Diets?</h6>
            <select name="question" id="q3">
                <option value="none">None</option>
                <option value="dairy+free">
                <option>Dairy Free</option>
                <option value="paleo">Paleo</option>
                <option value="lacto+vegetarian">Lacto Vegetarian</option>
                <option value="ovo+vegetarian">Ovo Vegetarian</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="vegan">Vegan</option>
                <option value="pescetarian">Pescetarian</option>
            </select>
            <br><br>
            <h5>Question 4</h5>
            <h6>Exclude any ingredients?</h6>
            <select name="question" id="q4">
                <option value="none">None</option>
                <option value="eggs">Eggs</option>
                <option value="dairy">Dairy</option>
                <option value="nuts">Nuts</option>
                <option value="shell+fish">Shell Fish</option>
                <option value="sugar">Sugar</option>
            </select>
            <br><br>
            <br><br>
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="recipeSearch"><i
                    class="fa fa-check-circle"></i>
                Submit</button>
        </form>
        <br>
    </div>
    <!-- Modal -->
    {{!-- <div id="results-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title"><strong>Best Match</strong></h2>
                </div>
                <div class="modal-body">
                    <h2 id="match-name"></h2>
                    <img id="match-img" src="" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div> --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/js/recipes.js"></script>