<div id="home">
  <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><img id="logo" src="/img/foodception.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/recipes">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/restaurants">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/questionare-answers">Answers</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Restaurants" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <br>
  <div class="container">
    <h2><strong>Restaurant Questionare</strong></h2>
    <hr />
    <form>
      Name (Required)<br />
      <input type="text" id="name" class="form-control" />
      <br>
      <h5>Question 1</h5>
      <h6>Please enter your City and Zipcode</h6>
      <input type="text" id="name" class="form-control" placeholder="State/Zipcode" />
      <br>
      <h5>Question 2</h5>
      <h6>What type of food would are </h6>
      <select name="question" id="q2">
        <option value="1">5 miles</option>
        <option value="2">10 miles</option>
        <option value="3">15 miles</option>
        <option value="4">20 miles</option>
        <option value="5">25 miles</option>
      </select>
      <br><br>
      <h5>Question 2</h5>
      <h6>How far are you willing to travel for deliciousness?</h6>
      <select name="question" id="q2">
        <option value="1">5 miles</option>
        <option value="2">10 miles</option>
        <option value="3">15 miles</option>
        <option value="4">20 miles</option>
        <option value="5">25 miles</option>
      </select>
      <br><br>
      <h5>Question 2</h5>
      <h6>What type of food would are </h6>
      <select name="question" id="q2">
        <option value="1">5 miles</option>
        <option value="2">10 miles</option>
        <option value="3">15 miles</option>
        <option value="4">20 miles</option>
        <option value="5">25 miles</option>
      </select>
      <br><br>
      <h5>Question 2</h5>
      <h6>What type of food would are </h6>
      <select name="question" id="q2">
        <option value="1">5 miles</option>
        <option value="2">10 miles</option>
        <option value="3">15 miles</option>
        <option value="4">20 miles</option>
        <option value="5">25 miles</option>
      </select>
      <br><br>
      <h5>Question 2</h5>
      <h6>What type of food would are </h6>
      <select name="question" id="q2">
        <option value="1">5 miles</option>
        <option value="2">10 miles</option>
        <option value="3">15 miles</option>
        <option value="4">20 miles</option>
        <option value="5">25 miles</option>
      </select>
      <br><br>
      <h4>Question 2</h4>
      <h5>How far are you willing to travel for deliciousness?</h5>
      <select name="question" id="q3">
        <option value="1">5 miles</option>
        <option value="2">10 miles</option>
        <option value="3">15 miles</option>
        <option value="4">20 miles</option>
        <option value="5">25 miles</option>
      </select>
      <br><br>

      <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle"></i>
        Submit</button>
    </form>
    <br>
  </div>
  <!-- Modal -->
  <div id="results-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title"><strong>Best Match</strong></h2>
        </div>
        <div class="modal-body">
          <h2 id="match-name"></h2>
          <img id="match-img" src="" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <script>
    $("#submit").on("click", function (event) {
      event.preventDefault();

      var userData = {
        name: $("#name").val(),
        photo: $("#photo").val(),
        scores: [
          $("#q1").val(),
          $("#q2").val(),
          $("#q3").val(),
          $("#q4").val(),
          $("#q5").val(),
          $("#q6").val(),
          $("#q7").val(),
          $("#q8").val(),
          $("#q9").val(),
          $("#q10").val()
        ]
      };
      $.post("/api/survey", userData, function (data) {
        console.log(userData);
        $("#match-name").text(data.name);
        $("#match-img").attr("src", data.photo);
        $("#results-modal").modal("toggle");
      });

    });



  </script>